This Non-Disclosure Agreement (the "Agreement") is entered into as of {{ date }} (the "Effective Date"),

**BETWEEN:**

**{{ first_party }}**, a public limited liability company duly organized and existing under the laws of {{ first_party_incorporation_state }}, having its registered office at {{ first_party_address }}, incorporated with the Register of Companies under number {{ first_party_registration_number }}, represented by {{ first_party_representative }}, duly empowered (hereinafter referred to as the **"{{ first_party_role }}"**);

**AND:**

**{{ second_party }}**, a public limited liability company duly organized and existing under the laws of {{ second_party_incorporation_state }}, having its registered office at {{ second_party_address }}, incorporated with the Register of Companies under number {{ second_party_registration_number }}, represented by {{ second_party_representative }}, duly empowered (hereinafter referred to as the **"{{ second_party_role }}"**);

The Disclosing Party and the Receiving Party are hereinafter collectively referred to as the "Parties" and individually as a "Party".

---

**WHEREAS**, the Parties intend to engage in a collaboration for the following purpose:

{{ purpose }}

---

**NOW, THEREFORE**, in consideration of the mutual covenants and agreements contained herein, the Parties agree as follows:

---

**Article 1. PURPOSE**

The purpose of this Agreement is to define the terms and conditions under which the Disclosing Party may communicate certain confidential information to the Receiving Party, strictly in connection with {{ purpose_type }}.

---

**Article 2. DEFINITIONS**

“Confidential Information” shall mean any and all non-public information, whether tangible or intangible, in any form or medium (written, oral, electronic, visual, etc.), disclosed by the Disclosing Party to the Receiving Party, directly or indirectly, for the purpose of the Project, that is, the legal documentation of the Disclosing Party and information relating to the Technologies and infrastructures needed for the Project. Information shall only be considered “Confidential Information” provided they are identified and marked as confidential at the time of disclosure.

“Representatives” means, with respect to a Party, its directors, officers, employees who have a bona fide need to know the Confidential Information for the purpose of the Project and who are bound by confidentiality obligations no less restrictive than those contained herein.

"Third Party" means any individuals, entities with legal personality or not, organizations of any form or any other entity, which is not a Party to this Agreement, nor a Representative of any of the Parties.

---

**Article 3. USE OF CONFIDENTIAL INFORMATION**

**3.1 Permitted Use**
The Receiving Party shall use the Confidential Information solely for the purpose of the Project at the exclusion of any other purpose. The Receiving Party shall not disclose, disseminate, or otherwise make available any Confidential Information to any Third Party for the duration of the confidentiality obligations as defined by this Agreement, unless the Disclosing Party gives her prior and express consent. 

**3.2 Use of confidential information and standard of care**
The Receiving Party shall protect Confidential Information with the same standard of care that it applies to protect its own proprietary information of a similar nature, but in no event shall such care be less than a high standard of care. 
The Receiving Party commits to take all necessary steps to safeguard the Confidential Information from loss, theft, unauthorized access, or destruction, and to ensure that Representatives are aware of the confidential nature of such information and are bound by obligations of confidentiality no less restrictive than those set forth in this Agreement.
In the event of entrusting the Receiving Party with the processing of any personal data pursuant to  privacy and personal data protection laws, the Receiving Party agrees to process the received personal data only for the purpose of the Project and commits to comply with the privacy and personal data protection law provisions, in particular such Party is obliged to:

a) safeguard all entrusted personal data,

b) process the personal data in accordance with the privacy law and protect them against disclosure during the whole time of the Agreement being in force and after its termination. 

---

**Article 4. LEGALLY REQUIRED DISCLOSURE**

Notwithstanding the foregoing, the Receiving Party will be released from its confidentiality obligations and allowed to disclose Confidential Information without breaching the Agreement, if such disclosure is required by a binding law, a court order, or by governmental regulation, provided that the Receiving Party promptly notifies the Disclosing Party in writing of such requirement prior to the disclosure, to the extent legally permissible. 

---

**Article 5. EXCLUSIONS FROM CONFIDENTIAL INFORMATION**

The obligations of confidentiality under this Agreement shall not apply to any information that :

a) was already in the public domain or becomes publicly known through no wrongful act or omission of the Receiving Party or its Representatives;

b) was rightfully received from a Third Party without restriction on disclosure and without breach of any obligation of confidentiality;

c) was already in the lawful possession of the Receiving Party prior to its disclosure by the Disclosing Party, free from any obligation of confidentiality; or

d) was independently developed by the Receiving Party without the use of or reference to the Disclosing Party's Confidential Information. 

---

**Article 6. DURATION**

The provisions of this Agreement shall terminate on the earlier of: (i) {{duration}} months from the Effective Date; and (ii) the termination date of the Project as mutually agreed by the Parties.

---

**Article 7. CONDITIONS OF TERMINATION**

All information provided by the Disclosing Party shall remain the property of the Disclosing Party. Depending on the instructions given by the Disclosing Party, the Receiving Party commits to (i) destroy or (ii) return all Confidential Information to the Disclosing Party, in both case within thirty (30) calendar days of written demand by the Disclosing Party.

---

**Article 8. RESPONSIBILITY**

The Receiving Party shall be fully liable for damages to the Disclosing Party for any harm or damage caused to the Disclosing Party due to a breach of the terms of this Agreement, including for any harm or damage caused by the Receiving Party’s Representatives.  

---

**Article 9. NON-SOLICITATION**

During the term of this Agreement and for a period of 12 months following its termination, neither Party shall, directly or indirectly, solicit or entice away any employee of the other Party who has been involved on the Project. 

---

**Article 10. APPLICABLE LAW AND JURISDICTION**

This Agreement shall be governed by and construed in accordance with the laws of {{ governing_law }}. Any dispute arising out of or in connection with this Agreement shall be resolved by the courts of {{ jurisdiction }}.

---

**Article 11. GENERAL PROVISIONS**

**11.1 Notices**
Any notifications and statements pursuant to this Agreement shall be made in writing and sent via courier services or via registered mail to the Parties' addresses set forth in the heading of this Agreement or to the e-mail addresses agreed between the Parties.

**11.2 Modification**
This Agreement may not be amended or modified except by a written instrument signed by duly authorized representatives of the Parties.

**11.3 Non-Assignable**
This Agreement and the rights and obligations hereunder may not be assigned by either Party without the prior written consent of the other Party.

**11.4. Entire Agreement**
This Agreement constitutes the entire understanding between the Parties with respect to the subject matter hereof and supersedes all prior and contemporaneous agreements, understandings, negotiations, and discussions, whether oral or written.

**11.5 Severability**
If any provision of this Agreement is held to be invalid, illegal, or unenforceable, the validity, legality, and enforceability of the remaining provisions shall not be affected or impaired thereby.

**11.6 Waiver**
The failure or delay in exercising a right or remedy provided by this agreement does not impair or constitute a waiver of the right or remedy. No single or partial exercise of a right or remedy provided by this Agreement prevents further exercise of that right or remedy or the exercise of another right or remedy as may be available (whether contractual, equitable, proprietary or otherwise).

---
**IN WITNESS WHEREOF**, the Parties hereto have caused this Agreement to be executed by their duly authorized representatives as of the Effective Date.


**{{ first_party }}** ({{ first_party_role }})

Name: {{ first_party_representative }}

Title: 
______________________________  

**{{ second_party }}** ({{ second_party_role }})

Name: {{ second_party_representative }}

Title:
______________________________  